body {
	margin-top: 10px;
}

#download-link{
	display:none;
}

#myCanvas{
	border: solid 2px #ddd;
	background: #fff;

}

#ctrl-xdisplay{
    font-size: 48px;
    text-align: right;
		height: 80px;
		width: 275px;
		margin: 3px;
		border-radius: 10px;
}

#ctrl-xinput {
	font-size: 48px;
	text-align: right;
	height: 80px;
	width: 275px;
	margin: 3px;
	border-radius: 10px;
}

.btn-disabled {
	opacity: 0.3;
}

.btn-moveTool {
		font-size: 48px;
    color: white;
    background-color: #32b433;
    height: 90px;
    width: 275px;
		border-radius: 10px;
		border: 3px solid darkgreen;
			margin: 3px;
}

.ready {
    background-color: green;
}

.not-ready {
    background-color: red;
}

.btn-keypad {
	font-size: 48px;
  color: white;
	background-color: #2e3865;
	height: 85px;
	width: 85px;
	border-radius: 10px;
	margin: 3px;
	padding: 0px;
	border: 3px solid black;
}

.btn-keypad:hover {
	color: white;
}

.btn-keypad:active {
	background-color: #416CB5;

}

.btn-keypad:focus {
	color: white;
}

.backspace {
	background-color: #4f2e27;
}

.btn-saw {
	font-size: 24px;
	border-radius: 10px;
	margin-bottom: 20px;
	shadow: 0;
	width: 100%;
}

.btn-home {
	font-size: 18px;
	border-radius: 10px;
	margin-bottom: 20px;
	shadow: 0;
	width: 100%;
	background-color: darkred;
	color: white;
}

.aluminum {
	background-color: #2094ab;
	color: white;
}

.steel {
	background-color: #f7cc12;
	color: #443805;
}


#ctrl-xdisplay2{
    font-size: 48px;
    text-align: right;
    height: 80px;
		width: 275px;
}

.part-input {
	font-size: 24px;
	height: 60px;
}

#config-system-config {
	font-family: monospace;
	word-wrap: break-word;
}
