body {
	margin-top: 10px;
}

#download-link{
	display:none;
}

#myCanvas{
	/*position: absolute;

	left: 0px;
	top:400px;
	*/
	border: solid 2px #ddd;
	background: #fff;

}

#ctrl-xdisplay{
    font-size: 48px;
    text-align: right;
    height: 80px;
	 width: 275px;
}

#ctrl-xinput {
	font-size: 48px;
	text-align: right;
	height: 80px;
	width: 275px;
}

.btn-disabled {
	opacity: 0.5;
}

.btn-moveTool {
	font-size: 48px;
    color: white;
    background-color: rgb(0, 150, 0);
    height: 80px;
    width: 275px;
		border-radius: 10px;
}

.ready {
    background-color: green;
}

.not-ready {
    background-color: red;
}

.btn-keypad {
	font-size: 48px;
  color: white;
	background-color: blue;
	height: 90px;
	width: 90px;
	border-radius: 10px;
}

.btn-saw {
	font-size: 48px;
	border-radius: 10px;
	margin-bottom: 20px;
	shadow: 0;
	width: 100%;
}

.btn-home {
	font-size: 36px;
	border-radius: 10px;
	margin-bottom: 20px;
	shadow: 0;
	width: 100%;
	background-color: darkred;
	color: white;
}

.aluminum {
	background-color: #2094ab;
	color: white;
}

.steel {
	background-color: #f7cc12;
	color: #443805;
}

.btn-backspace {
	font-size: 48px;
  color: white;
	background-color: blue;
	height: 90px;
	width: 90px;
	border-radius: 10px;
}

#ctrl-xdisplay2{
    font-size: 48px;
    text-align: right;
    height: 80px;
		width: 275px;
}

.part-input {
	font-size: 24px;
	height: 60px;
}

#config-system-config {
	font-family: monospace;
	word-wrap: break-word;
}
